* {
    /* box-sizing: border-box; */
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.page {
    border: 2px solid black;
    margin: auto;
    border: 4px solid transparent;
    height: calc(100vh - 50px);
}
   

.col-3 {
    height: min(calc(100% - min(500px, 96vw) - 120px), 500px);
    margin: auto;
    bottom: 5vh;
} 
.col-8  {
    width: min(500px, 96vw);
    margin:auto;
    padding-top: 3vh;
}

img {
    display: block;
    height: 100%;
    margin: auto;
}

img.booth {
    border-radius: 0.7em;
    width: 100%;
}
