* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  text-align: center;
}

h1 {
  font-family: Avenir;
  color: rgb(45, 45, 45);
  margin-top: 4%;
  margin-bottom: 0%;
}

h4 {
  font-family: Avenir;
  color: rgb(45, 45, 45);
  margin-top: 0;
}

.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  color: rgb(45, 45, 45);
  font-family: Avenir;
  position: sticky;
  top:0;
  height: 48px;
  z-index: 100;
  
}


.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .8rem 1.2rem .65rem 1.2rem;
  transform: scale(1.75);
}

.nav li{
  border-bottom: 3px solid white;
}

.nav li:hover {
  transform: translate(0, -1.5px) scale(1.1);
}
.nav li.active {
  border-bottom: 3px solid #e72f01f5;
  transform: none;
}


